<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kcps.impurivisionV2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".UnsafeResultsActivity" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PreviewActivity" />
        <activity
            android:name=".ImageGridActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ImageDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ImageGridActivity"
            android:theme="@style/AppThemeDark.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ImageGridActivity" />
        </activity>
        <activity android:name=".PreviewCacheActivity" />
        <activity android:name=".SafeResultsActivity"></activity>
    </application>

</manifest>